<div ng-controller="DataTableController" id="wrapper">

    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="dataContainer" ng-repeat="schema in data">
                <!-- <button ng-click="selectDataSet(dataSet)">Select</button> -->
                {{schema.numNodes}}
                <h3 class="sectionHeader">Data Table {{$index+1}}</h3>
                <table class="table dataTable">
                    <thead ng-click="">
                    <tr class="headerRow">
                        <!-- <th>Mark</th> -->
                        <th>deconID</th>
                        <th ng-repeat="(dataField, dataItem) in schema.nodes[0].data" ng-if="dataField !== 'deconID'">
                            {{dataField}}
                        </th>
                    </tr>
                    </thead>
                    <tr ng-repeat="node in schema.nodes"> <!-- ng-click="toggleSelect(dataSet, i)" ng-class="itemClass(dataSet, i)" -->
                        <!-- <td><span svg-inject ind="i" data="dataSet"></td> -->
                        <td>{{node.data['deconID']}}</td>
                        <td ng-repeat="(prop, val) in node.data" ng-if="prop != 'deconID'">{{val}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>