<div class="mapping-group" ng-controller="MappingsListController">
    <h3 class="sectionHeader">Mappings:</h3>
    <div class="panel-group" id="mappings" ng-repeat="mapping in data[selectedSchema].mappings">
        <div class="panel panel-default">
            <div ng-class="{'linear': isLinear(mapping), 'nominal': isNominal(mapping), 'panel-heading': true, 'btn-toolbar': true}">
                <a data-toggle="collapse" style="color:black;" data-parent="#mappings" href="#mapping{{$index}}">
                    {{mapping.data}} &#10141; {{mapping.attr}}
                    <button style="border: 0;float: right;background-color:inherit;" type="button" class="btn btn-default btn-xs">
                        <!-- ng-click="removeMapping(dataAttr, mappedAttr)"  -->
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </a>
            </div>
            <div id="mapping{{$index}}" class="panel-collapse collapse" ng-if="mapping.type === 'nominal'">
                <table class="changeMapping table">
                    <tr>
                        <th>
                            {{mapping.data}}
                        </th>
                        <th>
                            {{mapping.attr}}
                        </th>
                    </tr>
                    <tr ng-repeat="(from, to) in mapping.params">
                        <td>
                            {{from}}
                        </td>
                        <td>
                            <input class="form-control" value="{{to}}" ng-keypress="nominalMappingChange($event, mapping, from)">
                        </td>
                    </tr>
                </table>
            </div>
            <div id="mapping{{$index}}" class="panel-collapse collapse" ng-if="mapping.type === 'linear'">
                <table class="changeMapping table">
                    <tr>
                        <th></th>
                        <th>
                            {{mapping.data}}
                        </th>
                        <th>
                            {{mapping.attr}}
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <span class="rowHead"> Min </span>
                        </th>
                        <td>
                            {{mapping.params.dataMin}}
                        </td>
                        <td>
                            <input class="form-control" value="{{mapping.params.attrMin}}" ng-keypress="linearMappingChange($event, mapping, true)">
                        </td>
<!--
                        <td>
                            <svg-inject ind="data[selectedSchema].data[mapping.data].indexOf(mapping.params.dataMin)"
                                        schema="data[selectedSchema]"></svg-inject>
                        </td>
-->
                    </tr>
                    <tr>
                        <th class="rowHead">
                            <span class="rowHead"> Max </span>
                        </th>
                        <td>
                            {{mapping.params.dataMax}}
                        </td>
                        <td>
                            <input class="form-control" value="{{mapping.params.attrMax}}" ng-keypress="linearMappingChange($event, mapping, false)">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>