<!doctype html>
<html lang="en" ng-app="restylingApp">
<head>
	<meta charset="utf-8">
	<title>D3 Deconstructor</title>	
	
	<link rel="stylesheet" type="text/css" href="display.css" />
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="lib/ng-table.css" />
	<script src="lib/angular.min.js"></script>
	<script src="lib/simple_statistics.js"></script>
	<script src="lib/ng-table.js"></script>
	<script src="lib/d3.v3.min.js"></script>
	<script src="lib/underscore-min.js"></script>
	<script src="lib/jquery.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="lib/jquery.dataTables.js"></script>
	<script src="lib/jstat.js"></script>
	<script src="display.js"></script>
</head>
<body ng-controller="MappingListCtrl">

<div id="wrapper">

	<div id="sidebar-wrapper">
		<div class="mapping-group">
			<h3 class="sectionHeader">Mappings:</h3>
			<div class="panel-group" id="mappings" ng-repeat="(dataAttr, mapped) in chosenMappings">
				<div class="panel panel-default" ng-repeat="mappedAttr in mapped">
					<a data-toggle="collapse" data-parent="#mappings" style="color: black;" data-target="#{{(dataAttr + mappedAttr[0]).replace(' ','')}}">
						<div class="panel-heading btn-toolbar" style="background-color:#7fc97f;" ng-if="!mappedAttr[1].hasOwnProperty('isNumericMapping')">
							{{dataAttr}} &#10141; {{mappedAttr[0]}}  
							<button ng-click="removeMapping(dataAttr, mappedAttr)" style="border: 0px;float: right;background-color:#7fc97f;" type="button" class="btn btn-default btn-xs">
  							<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>
						<div class="panel-heading btn-toolbar" style="background-color:#beaed4;" ng-if="mappedAttr[1].hasOwnProperty('isNumericMapping')">
							{{dataAttr}} &#10141; {{mappedAttr[0]}}  
							<button ng-click="removeMapping(dataAttr, mappedAttr)" style="border: 0px;float: right; background-color:#beaed4;" type="button" class="btn btn-default btn-xs">
  							<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>
					</a>
					<div id="{{(dataAttr + mappedAttr[0]).replace(' ','')}}" class="panel-collapse collapse" ng-if="!mappedAttr[1].hasOwnProperty('isNumericMapping')">
						<table class="changeMapping table">
							<tr>
								<th>
									{{dataAttr}}
								</th>
								<th>
									{{mappedAttr[0]}}
								</th>
							</tr>
							<tr ng-repeat="(from, to) in mappedAttr[1]">
								<td>
									{{from}}
								</td>
								<td>
									<input class="form-control" ng-keypress="submitNominalMappingChange($event, dataAttr, mappedAttr[0], to)" value="{{to[0][0]}}"></input>
								</td>
							</tr>
						</table>
					</div>
				<div id="{{(dataAttr + mappedAttr[0]).replace(' ','')}}" class="panel-collapse collapse" ng-if="mappedAttr[1].hasOwnProperty('isNumericMapping')">
					<table class="changeMapping table">
						<tr>
							<th></th>
							<th>
								{{dataAttr}}
							</th>
							<th>
								{{mappedAttr[0]}}
							</th>
						</tr>
						<tr>
							<th>
								<span class="rowHead"> Min </span>
							</th>
							<td>
								{{mappedAttr[1].dataMin}}
							</td>
							<td>
								<input class="form-control" ng-keypress="submitLinearMappingChange($event, dataAttr, mappedAttr)" ng-model="mappedAttr[1].visMin">
							</td>
<!--						<td>
							 <span svg-inject ind="getIndexForDataVal(dataAttr, mappedAttr[1].dataMin)" data="dataSets[currentDataSet]">
						</td>
-->
						</tr>
						<tr>
							<th class="rowHead">
								<span class="rowHead"> Max </span>
							</th>
							<td>
								{{mappedAttr[1].dataMax}}
							</td>
							<td>
								<input class="form-control" ng-keypress="submitLinearMappingChange($event, dataAttr, mappedAttr)" ng-model="mappedAttr[1].visMax">
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="bottomSticky">
		<span>
			<div>
				<h3 class="sectionHeader">Add Mapping</h3>
				<form>
					Data Field:
					<div class="btn-group">
			  		<button id="dataSelectorButton" type="button" class="btn btn-default dropdown-toggle deconButton" data-toggle="dropdown">
			    		<span id="attrSelector" ng-if="addForm.mapDataAttr==null"></span>
							<span id="attrSelector" ng-if="addForm.mapDataAttr">{{addForm.mapDataAttr}}</span>
							<span class="caret"></span>
			  		</button>
			  		<ul class="dropdown-menu" role="menu">
							<li class="deconDropDownItem" ng-repeat="dataAttr in dataSets[currentDataSet].schema">
								<a ng-click="changeFormDataAttr(dataAttr)">{{dataAttr}}</a>
							</li>
							<li class="deconDropDownItem">
								<a ng-click="changeFormDataAttr()">None</a>
							</li>
			  		</ul>
					</div>
					<br />
			  	
					Attribute:
					<div class="btn-group">
			  		<button type="button" class="btn btn-default dropdown-toggle deconButton" data-toggle="dropdown">
			    		<span id="attrSelector" ng-if="!addForm.mapVisAttr"></span>
							<span id="attrSelector" style="color:red;" ng-if="addForm.mapVisAttr && isMapped(addForm.mapVisAttr)">{{addForm.mapVisAttr}}</span>
							<span id="attrSelector" ng-if="addForm.mapVisAttr && !isMapped(addForm.mapVisAttr)">{{addForm.mapVisAttr}}</span>							
							<span class="caret"></span>
			  		</button>
			  		<ul class="dropdown-menu" role="menu">
			    		<li class="deconDropDownItem" ng-repeat="visAttr in dataSets[currentDataSet].visSchema" ng-if="isMapped(visAttr)">
								<a ng-click="addForm.mapVisAttr=visAttr" style="color:red;">{{visAttr}}</a>
							</li>
							<li class="deconDropDownItem" ng-repeat="visAttr in dataSets[currentDataSet].visSchema" ng-if="!isMapped(visAttr)">
								<a ng-click="addForm.mapVisAttr=visAttr">{{visAttr}}</a>
							</li>
			  		</ul>
					</div>
					<br />
				
					Mapping Type:
					<div class="btn-group">
			  		<button type="button" class="btn btn-default dropdown-toggle deconButton" data-toggle="dropdown">
			    		<span id="attrSelector" ng-if="!addForm.action"></span>
							<span id="attrSelector" ng-if="addForm.action=='Nominal'">Categorical</span>
							<span id="attrSelector" ng-if="addForm.action=='Linear'">Linear</span>
							<span class="caret"></span>
			  		</button>
			  		<ul class="dropdown-menu" role="menu">
							<li class="deconDropDownItem">
								<a ng-click="addFormAction('Nominal')">Categorical</a>
							</li>
							<li class="deconDropDownItem">
								<a ng-if="numericTypesInForm()" ng-click="addFormAction('Linear')">Linear</a>
								<a ng-if="!numericTypesInForm()" style="color:grey;" href="#">Linear</a>
							</li>
							<li class="deconDropDownItem">
								<a ng-click="addFormAction(undefined)">None</a>
							</li>						
			  		</ul>
					</div>
					
					<div style="font-size: 8pt; padding: 3px; margin-bottom:5px;margin-top:5px;" class="alert alert-danger" ng-if="addForm.mapVisAttr && isMapped(addForm.mapVisAttr)">
						Warning: {{addForm.mapVisAttr}} already has a mapping from {{isMapped(addForm.mapVisAttr)}}.  
						Changing the values for this attribute will remove its existing mapping.
					</div>
				
					<span ng-if="addForm.mapDataAttr == null && addForm.mapVisAttr">
						Select value(s):
						<table class="table">
							<tr>
								<th>Orig</th>
								<th>New</th>
							</tr>
							<tr ng-repeat="attrClass in _.uniq(selectedSet.visData[addForm.mapVisAttr])">
								<td>{{attrClass}}</td>
								<td><input class="form-control" ng-keypress="submitAttrClassChange($event, attrClass, addForm.mapVisAttr)"></td>
							</tr>
						</table>
					</span>

					<span ng-if="addForm.action == 'Linear' && addForm.mapDataAttr != null && addForm.mapVisAttr">
						<br />
						<table class="table">
							<tr>
								<th></th>
								<th>
									{{addForm.mapDataAttr}}
								</th>
								<th>
									{{addForm.mapVisAttr}}
								</th>
							</tr>
							<tr>
								<th>
									<span class="rowHead"> Min </a>
								</th>
								<td>
									{{_.min(dataSets[currentDataSet].d3Data[addForm.mapDataAttr])}}
								</td>
								<td>
									<input class="form-control" ng-keypress="submitNewLinearMapping($event)" ng-model="addForm.newMin">
								</td>
							</tr>
							<tr>
								<th>
									<span class="rowHead"> Max </a>
								</th>
								<td>
									{{_.max(dataSets[currentDataSet].d3Data[addForm.mapDataAttr])}}
								</td>
								<td>
									<input class="form-control" ng-keypress="submitNewLinearMapping($event)" ng-model="addForm.newMax">
								</td>
							</tr>
						</table>
					</span>
					<span ng-if="addForm.action == 'Nominal' && addForm.mapDataAttr != null && addForm.mapVisAttr">
						<table class="changeMapping table">
							<tr>
								<th>
									{{addForm.mapDataAttr}}
								</th>
								<th>
									{{addForm.mapVisAttr}}
								</th>
							</tr>
							<tr ng-repeat="from in _.uniq(dataSets[currentDataSet].d3Data[addForm.mapDataAttr])">
								<td>
									{{from}}
								</td>
								<td>
									<input class="form-control" ng-model="addForm.nominalMapData[from]" ng-keypress="formCreateNominalMapping($event, addForm.mapDataAttr)"></input>
								</td>
							</tr>
						</table>
					</span>
				</form>
			</div>
		</span>
	</div>
</div>
	<div class="page-content-wrapper">
		<div class="page-content">
			<div class="dataContainer" ng-repeat="dataSet in dataSets | orderBy: '-d3Data.length':false">
				<!-- <button ng-click="selectDataSet(dataSet)">Select</button> -->
				<h3 class="sectionHeader" ng-click="selectDataSet(dataSet)">Data Table {{dataSets.indexOf(dataSet)+1}}</h3>
				<table class="table dataTable">
					<thead ng-click="selectDataSet(dataSet)">
						<tr class="headerRow">
							<th>Mark</th>
							<th>deconID</th>
							<th ng-repeat="(prop, val) in dataSet.d3Data" ng-if="prop != 'deconID'">{{prop}}</th>
						</tr>
					</thead>
					<tr ng-repeat="i in _.range(0, dataSet.numEls)" ng-click="toggleSelect(dataSet, i)" ng-class="itemClass(dataSet, i)">
						<!-- ><td><span svg-inject ind="i" data="dataSet"></td> -->
						<td>{{dataSet.d3Data['deconID'][i]}}</td>
						<td ng-repeat="(prop, val) in dataSet.d3Data" ng-if="prop != 'deconID'">{{val[i]}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="modal fade" id="attrEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				Select visual attribute:
				<select ng-model="addForm.changeAttr">
					<option ng-repeat="visAttr in selectedSet.visSchema" value="{{visAttr}}" label="{{visAttr}}">
				</select>
				<span ng-if="addForm.changeAttr">
					Select value(s):
					<table class="table">
						<tr>
							<th>Orig</th>
							<th>New</th>
						</tr>
						<tr ng-repeat="attrClass in _.uniq(selectedSet.visData[addForm.changeAttr])">
							<td>{{attrClass}}</td>
							<td><input ng-keypress="submitAttrClassChange($event, attrClass, addForm.changeAttr)"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>